@import url('https://fonts.google.com/specimen/Nunito?query=nunito');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Nunito:wght@500&&family=Nunito:wght@900&family=Nunito:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Open+Sans:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 923px;
    height: 84px;
    background-color:#7025FB;
    display: flex;   
}


#logo {
    position: absolute;
    left: 60px;
    top: 30.41px;  
}

#logo-text {
    position: absolute;
    top: 30px;
    left: 82.93px;
}

.picture {
        position: absolute;
        width: 923px;
        height: 996px;
        top: 84px;
        left: 0;
}

.right-part-p1 {
    width: 997px;
    height: 1080px;
    background-color: #FD5334;
    display: flex;
    position: absolute;
    left: 923px;
    top: 0;
}

.main-text {
    font-family: 'Nunito';
    
    color: white;
    text-transform:uppercase;
    
}

.main-text > .first-sen {
    position: fixed;
    font-size: 80px; 
    font-weight: 800;
    top: 265px;
    left: 1008px;
    line-height: 109px;
   

}
.main-text > .second-sen {
    color: #212529;
    font-weight: 700;
    font-size: 20px;
    position: fixed;
    top: 306px;
    left: 1530px;
}

.main-text > .third-sen {
    position: fixed;
    font-size: 80px;
    font-weight: 900;
    left: 1008px;
    top: 390px;
}

/* Get Started button */
.get-started {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #212529;
    display: flex;
    align-items: flex-start; 
    position: fixed;
    left: 1008px;
    top: 601px;
    border-color:#212529;
    padding: 13px 24px;
    border-radius: 8px;
    text-transform: capitalize;
    height: 53px;
    gap: 10px;  
    cursor: pointer; 
    border: 0;
}

/* next button */

.next {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #212529;
    display: flex;
    position: fixed;
    align-items: flex-start;
    width: 128px;
    left: 1618px;
    top: 873px;
    border-color: #212529;
    padding: 13px 24px;
    border-radius: 8px;
    border: 0;
    text-transform: capitalize;
    gap: 10px;  
    cursor: pointer; 
}

/* back button */

.back {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    background-color: white;
    
    display: flex;
    position: absolute;
    border: 1px solid black;
    left: 971px;
    
    top: 873px;
    border-color:#212529;
    padding: 13px 24px;
    border-radius: 8px; 
    box-shadow: none;
    text-transform: capitalize;
    gap: 10px;  
    cursor: pointer; 
}

 /*get started border after hover */

.get-started:hover {   
    border: 4px solid rgba(194, 165, 249, 0.8);
    margin-top: -2px;
    margin-left: -2px;
}

 /*get started border after hover */

.next:hover {   
    border: 4px solid rgba(194, 165, 249, 0.8);
    margin-top: -2px;
    margin-left: -2px;
}

 /*back button background after hover */

.back:hover {   
    
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
}



.right-part-p2 {

    font-family: 'Open sans';    
}

.wassup {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    position: absolute;
    left: 971px;
    text-transform: capitalize;
    top: 30px;
    
}

.border {
    position: absolute;
    width: 999px;
    height: 0px;
    right: 0;
    top: 84px;
    border: 1px solid rgba(185, 180, 196, 0.3);
}

.personal-inform {
    position: absolute;
    top: 324px;
    left: 971px;
}

.personal-inform > h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    
}
.personal-inform > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #95939A;
    text-transform: capitalize;
}

#form {
    position: absolute;
    top: 481px;
    left: 971px;
}

.input-control {
    display: flex;
    flex-direction:row;
    justify-content: center; 
           
    width: 775px; 
    
    height: 46px;
    
}

.email, .number, .date {
    margin-top: 39px;
}

input {
    width: 100%;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125); 
    margin: 4px;
    border: 0;  
}
.input-control input:hover {
    background-color: #F8F9FA;
    cursor: pointer;
    border: 0;
}

.input-control input:active {
    background-color: #E9ECEF;
    box-shadow: inset 0px 0px 0px #E9ECEF;  
}



.input-control .error {
    
    color: #DC3545;
}
::placeholder {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
    
}

.checkmark {
    
    right: 13px;
    top: 13px;
}

.error-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 87px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: fixed;
    top: 226px;
    left: 1531px;
}

#exclamationmark {
    position: absolute;
    left: 12px;
    top: 9.5px;

}
.invalid {
    position: absolute;
    top: 9px;
    left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #DC3545;
}

#close-window {
    position: absolute;
    left: 326.47px;
    top: 14.47px;
}


.error-message {
    position: absolute;
    left: 12px;
    top: 51px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.steps {
    display: flex;
    position: absolute;
    flex-direction:row;
    justify-content: space-between;
    gap: 197px;
    left: 1044px;
    top: 152px;
    
}

.steps > p {
    
    font-family: 'Open Sans';
    
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.step1, .step2 {
    box-sizing: border-box;
    border: 1px solid #E5E6E8;
    padding:  8px 14px 7px 15px;
    margin-left: -14px;
    margin-top: -8px;
    border-radius: 8px;
}    

.step2 {
    background-color: #F5F5F5;;
    color: #95939A;
}
.steps-line {
    
    position: absolute;
    width: 174px;
    left: 1074px;
    top: 164px;
    border: 1px solid rgba(185, 180, 196, 0.3);
}


.steps-text {
    display: flex;
    position: absolute;
    flex-direction:row;
    justify-content: space-between;
    gap: 77px;
    left: 971px;
    top: 188px;
}

.quote, .author {
    display: flex;
    position: absolute;
    left: 132px;
    text-transform:uppercase;
    font-family: 'Nunito';
    font-style:italic;
    
}
.quote {
    top: 295px;
    width: 423px;
    height: 83px;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
}
.author {
    top: 402px;
    color: #E5E6E8;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

